@import "_variables.scss";

nav {
    ul {
        position: absolute;
        top: 2em;
        right: 5em;
        
        li {
            float: left;

            a {
                display: block;
                color: #fff;
                text-decoration: none;
                padding: 1em 2em;
            }
        }
    }
}