@import "_variables.scss";

section {
    width: 100%;
    min-width: 100vw;

    height: 100%;
    min-height: 100vh;

    &.opening {
        img.menu {
            display: block;
            position: absolute;
            bottom: 20%;
            left: 20%;
            width: 30%;
        }

        img.drink {
            display: block;
            position: absolute;
            bottom: 15%;
            left: 0;
            width: 30%;
        }

        img.food-plate {
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 60%;
        }

        h1 {
            font-family: 'Flavors', cursive;
            font-weight: normal;

            position: absolute;
            top:0;
            left: 0;
            right: 0;
            bottom: 0;

            font-size: 7em;

            height: 1.5em;
            width: 100%;

            text-align: center;
        }
    }
}