@import "_variables.scss";

section {
    width: 100%;
    min-width: 100vw;

    height: 100%;
    min-height: 100vh;

    &.opening {
        h1 {
            font-family: 'Flavors', cursive;
            font-weight: normal;

            position: absolute;
            top:0;
            left: 0;
            right: 0;
            bottom: 0;

            margin: auto auto;

            font-size: 7em;

            height: 1.5em;
            width: 100%;

            text-align: center;
        }
    }
}